<div class="content">
  Publicaciones
  <div class="spinner-border text-primary"  *ngIf="!data" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="publication" *ngFor="let item of data; let i = index">
    <div class="card" style="width: 18rem">
      <img src="{{ item.recursos }}" class="card-img-top" alt="..." *ngIf="item.recursos" />
      <div class="card-body">
        <h5 class="card-title">Publicaacion {{ i+1 }}</h5>
        <div class="mensaje" [innerHtml]=item.contenido>
       </div>
        <div class="social-content">
          <div class="social-icon">
            <i class="bi bi-share-fill"></i>   {{ item.cant_compartido }}
          </div>
          <div class="social-icon"><i class="bi bi-chat-left-text"></i> {{ item.cant_comentarios }}</div>
          <div>
            <i class="bi bi-unlock" *ngIf="item.tipo_acceso == 'publico'" ></i>
            <i class="bi bi-lock-fill" *ngIf="item.tipo_acceso == 'privado'"></i>
            {{ item.tipo_acceso }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

